In [4]:
import pandas as pd
dataset = pd.read_csv("students_multi.csv")
dataset.head()

   Age  Study_hours  Attendance  Marks
0   18            2          75     61
1   19            3          80     65
2   20            4          85     70
3   21            5          90     75
4   22            6          92     80

In [5]:
dataset["Study_efficiency"] = dataset["Study_hours"] / dataset["Attendance"]
dataset.head()

   Age  Study_hours  Attendance  Marks  Study_efficiency
0   18            2          75     61          0.026667
1   19            3          80     65          0.037500
2   20            4          85     70          0.047059
3   21            5          90     75          0.055556
4   22            6          92     80          0.065217

A new feature, Study efficiency, is created by combining Study hours and Attendance.

This feature may capture student effort more effectively.

In [6]:
x = dataset[["Age", "Study_hours","Attendance", "Study_efficiency"]]
y = dataset["Marks"]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=42)

model = LinearRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
print("r2_score: ", r2_score(y_test,y_pred))

r2_score:  0.8750000000000089

The engineered feature improves model performance by providing additional meaningful information.

Feature engineering can improve results more effectively than changing models.

# Conclusion:

Feature engineering and scaling significantly impact model performance.

Improving features is often more beneficial than switching to complex models.